.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    background-color: rgba(0, 174, 255, 0.3);
}

.pagination{
    margin-left: 200px;
    margin-bottom: 50px;
}
.pagination button{
    margin-right: 10px;
}
.pagination .selected{
    background-color: goldenrod;
    border: gold;
    font-weight: bold;
    width: 20px;
    }

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}